{% extends 'base.html.twig' %}

{% block title %}Personnel index{% endblock %}

{% block body %}
    <h1>Personnel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Nia</th>
                <th>Nni</th>
                <th>Nid</th>
                <th>Nsap</th>
                <th>Date_de_naissance</th>
                <th>Lieu_naissance</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td>{{ personnel.id }}</td>
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.sexe }}</td>
                <td>{{ personnel.nia }}</td>
                <td>{{ personnel.nni }}</td>
                <td>{{ personnel.nid }}</td>
                <td>{{ personnel.nsap }}</td>
                <td>{{ personnel.dateDeNaissance ? personnel.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ personnel.lieuNaissance }}</td>
                <td>{{ personnel.email }}</td>
                <td>
                    <a href="{{ path('personnel_show', {'id': personnel.id}) }}">show</a>
                    <a href="{{ path('personnel_edit', {'id': personnel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnel_new') }}">Create new</a>
{% endblock %}
